*.iws
.gradle/
.build/
.app/build/
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
.metadata/
.recommenders/
build/
resource/
gradle/
*/bin/
*/bin/
*/gen/
*/bin/
